{% extends '::base.html.twig' %}

{% block body %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>#AddTweet</h1>
        <p>Post your first tweet !</p>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div  style="margin-top: 5px; margin-bottom: 5px;">
                    {{ form_row(form.content, { 'attr': { 'class': 'form-control' } }) }}
                    </div>
                    <div style="margin-top: 5px; margin-bottom: 5px;">
                    {{ form_row(form.save, { 'attr': { 'class': 'btn btn-primary' } }) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    <!-- Example row of columns -->
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="{{ asset('img/grizou.jpg') }}" alt="">
                <p>Fier d'avoir égalé le record de but en Ligue des Champions de Monsieur Luis Aragonés avec <span style="color: #1b95e0; font-weight: bold;
    text-decoration: none;">l'@AtletiFR</span></p>
                <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="{{ asset('img/pesquet.jpg') }}" alt="">
                <p>Notre Soyouz vu depuis la Cupola. Magnifique, non? Grâce à lui le voyage de 2 jours depuis Baïkonour s’est passé parfaitement. <span style="color: #1b95e0; font-weight: bold;
    text-decoration: none;">#Proxima</span></p>
                <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="{{ asset('img/tpmp.jpg') }}" alt="">
                <p>1.455.000 téléspectateurs (6,1% de pda) devant <span style="color: #1b95e0; font-weight: bold;
    text-decoration: none;">@TPMP</span> hier soir. 1er talk show de l'access prime time 👍🏼</p>
                <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
